body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  }

img {
  max-width: 100%;
}
section.about{
     display: none;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}
/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #333;
}

a:hover, a:focus {
  color: #888;
}

a:visited {
  color: #AAA;
}
/*body
================================================
*/
main{
  width: 80%;
  margin-left: 10%;
}
