header{
height: 150px;
background: #333;
color: #FEFEFE;
width: 100%;
position: relative;
margin-bottom: 30px;
}

.logo{
     font-size: 3em;
     position: absolute;
     top: 20%;
     left: 15%;
     font-family: 'Kumar One Outline', cursive;
     color: #b5132e;
}
.main-nav{
display: inline;
position: absolute;
top: 20%;
left:80%;
}
.main-nav ul{
  display: none;
  clear:both;
  list-style: none;
}
.icon-menu{
  font-size: 4em;
  color: #ccb514;
}
.main-nav:hover ul{
     display: block;
     position: relative;
}
main-nav li{
/*display: block;  ??*/
}
.tab{
     position: absolute;
     font-size: 1.5em;
     top: 100px;
     border-bottom: 1px solid #ccc;
}
img{
     width: 100%;
     display: inline;
}

main p{
     /*width: 40%;*/
     margin-left: 10%;
     margin-right: 10%;
     font-size: 2em;
}
footer ul{
     text-align: center;
     font-size: 5em;
}
footer ul li{
     display: inline;
}
@media only screen and (min-width: 640px) {

  .main-nav {
    width: 100%;
  }

  .icon-menu {
    display: none;
    width: 100%;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav li {
    display: inline;
    text-align: center;
    padding: 1em;
    border: none;
  }

  .main-nav li:last-child {
    margin-left: none;
  }

}
