header{
height:150px;
background: #333;
color: #FEFEFE;
width: 100%;
position: relative;
margin-bottom: 30px;
}

header ul{
  display: none;
  position: absolute;
  list-style: none;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  color: #888;
  background-color: #333;
}
h1{
  font-size: 3em;
  font-weight: bold;
  }
select{
  padding: 0.5em; 1em;
  text-align: center;
  }
main p{
  font-size: 1em;
}

.contact ul{
     text-align: center;
     font-size: 5em;
}
.contact ul li{
     display: inline;
      color: #333;
}
h1{
  text-align: center;
}
.article img{
 width: 40%;
 position: relative;
 height: 100px;
}
.aboutMe img{
width: 40%;
height: 100px;
margin-left: calc(30%);
}
@media only screen and (min-width: 640px) {
header ul {
    display: block;
  }

  ul li {
    display: inline;
    text-align: center;
    padding: 0.5em;
  }

  ul li:last-child {
    margin-left: none;
  }

}
@media only screen and (min-width: 740px) {
  header{
       height: 150px;
 }
 .tab{
      font-size: 5em;
      margin-bottom: 40px;
}
  header ul {
     display: inline;
     text-align: center;
 }
}
