header{
height: 250px;
background: #0b154a;
color: #FEFEFE;
display: inline-block;
width: 100%;
position: relative;
}

.logo{
     font-size: 5em;
     position: absolute;
     top: 70px;
     left: 70px;
     font-family: 'Kumar One Outline', cursive;
     color: #b5132e;
     margin-left: 70px;
}
.main-nav{
display: inline;
float: right;
position: absolute;
right: 70px;
top: 70px;
margin-right: 100px;
}
.main-nav:hover ul{
     display: block;
     position: relative;
}
.tab{
     position: absolute;
     font-size: 1.5em;
     top: 100px;
     border-bottom: 1px solid #ccc;
}
img{
     width: 100%;
     display: inline;
}
main{
     height: 800px;
     background-image: url("../img/cmyk.jpg");
     background-repeat: no-repeat;
     background-position: center;
     align-items: center;
}
main p{
     width: 60%;
     margin-left: 170px;
     font-size: 2em;
}
footer ul{
     text-align: center;
     font-size: 5em;
}
footer ul li{
     display: inline;
}
